@charset "UTF-8";
@font-face {
  font-family: 'Play';
  src: url("../../fonts/play/play-regular.ttf");
}

html {
  font-family: 'Play';
  font-size: var(--app-font-size);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  text-align: center;
}

.wrap {
  max-width: 500px;
  margin: 0 auto auto auto;
  background-image: url(../../surs/29227_html_4c0fe915.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
}

.blok {
  /*display: flex;*/
  width: 100%;
}

.window {
  width: 100%;
}

.hiden {
  display: none;
}

.ramka {
  /*основные поля */
  padding: 10px 0 10px 5%;
  width: 95%;
  background: #afdff4d4;
  color: #161515;
  display: block;
}

.ramka select {
  height: 36px;
  width: 95%;
  font-size: 16px;
}

.ramka_hedar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 7px 0 0 0;
  width: 100%;
  height: 67px;
}

.ramka_hedar_v {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 10px 0;
}

.navig {
  position: relative;
  margin-right: 30px;
  height: 28px;
}

.navig_str {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

.navig_str_0 {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform  0.5s ease 0s;
  transition: -webkit-transform  0.5s ease 0s;
  transition: transform  0.5s ease 0s;
  transition: transform  0.5s ease 0s, -webkit-transform  0.5s ease 0s;
}

.answer {
  min-height: 30px;
}

.ramka1 {
  /*поле вывода оценки результата */
  width: 100%;
  height: 20px;
  background: #afdff4;
  font: 15pt;
  color: #2c2c2c;
}

.ramka2 {
  /*кнопки */
  background: #a9e89a;
  width: 150px;
  height: 40px;
}

.ramka3 {
  /*меж строчки*/
  width: 100%;
  height: 20px;
  /*background: #99cfea; */
}

.ramka4 {
  /*меж строчки*/
  width: 100%;
  height: 20px;
  background: #72c7ec;
}

.button {
  margin: 0 16px;
  text-align: center;
  width: 60px;
  height: 80%;
  background: #9f9ae8;
}

.button:hover {
  cursor: pointer;
  background: #5145e8;
}

#selected {
  height: 30px;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 5px;
}

.headerH {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.burder {
  width: 100%;
}

.header_burder {
  display: none;
  position: relative;
  width: 50px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
}

.header_burder span {
  position: absolute;
  background-color: #1d1c1c;
  width: 30px;
  height: 3px;
  left: 0;
  top: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_burder:before,
.header_burder:after {
  content: '';
  background-color: #1d1c1c;
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_burder:before {
  top: 7px;
}

.header_burder:after {
  bottom: 4px;
}

.header_burder.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header_burder.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 16px;
}

.header_burder.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 11px;
}

.header_menu {
  position: absolute;
  top: 47px;
  width: 229px;
  height: 133px;
  /* overflow: auto; */
  background-color: #53c6eaf5;
  -webkit-transform-origin: 50% top;
          transform-origin: 50% top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_menu.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.header_menu_web {
  padding-top: 10px;
}

.header_list_web {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_list_web li {
  list-style: none;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_link_web {
  color: #161414;
  margin: 0;
  font-size: 17px;
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header_link_web_underline {
  height: 3px;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #1b1299;
}

.header_link_web:hover {
  cursor: pointer;
  color: #1b1299;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header_link_web:hover ~ .header_link_web_underline {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.header_list {
  padding: 0px 0px 0px 10px;
  display: block;
}

.header_list li {
  list-style: none;
  margin: 0px 0px 11px 0px;
}

.header_link {
  color: #161414;
  margin: 0;
  font-weight: lighter;
  font-size: 23px;
  text-decoration: none;
}

.header_link:hover {
  cursor: pointer;
  color: #e2eef3;
}

.blok_vkladok {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vkladi {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #5796b1;
  margin-left: 2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.vkladi_vidupr {
  margin-bottom: 3px;
  font-size: 14px;
}

.vkladi:hover {
  cursor: pointer;
  background-color: #279acc;
}

.blok_vkladok_uprag {
  background-color: #72c7ecba;
}

.vkladi.acti {
  background-color: #72c7ec;
}

.blok_vkladok_rezult {
  height: 150px;
  background-color: #77c0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blok_vkladok_rezult_schet {
  font-size: 20px;
}

.info_window_wrap {
  max-width: 500px;
  margin: 0 auto auto auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #58585aa1;
}

.info_window {
  margin: 0 auto 0 auto;
  width: 80%;
  background-color: #bfc5c7;
  position: relative;
  z-index: 3000;
  top: 20%;
  border-width: 1px;
  border-color: #1a2023;
  border-style: ridge;
  border-radius: 4px;
}

.info_window_text {
  padding-top: 19px;
  text-align: center;
  color: #1f1c1d;
  padding-bottom: 47px;
}

#info_window_ok {
  position: absolute;
  width: 60px;
  height: 21px;
  bottom: 10px;
  right: 10px;
  background-color: #1690ca;
  text-align: center;
  padding-top: 3px;
  border-radius: 5px;
}

#info_window_ok:hover {
  max-width: 500px;
  margin: 0 auto auto auto;
  background-color: #257ca5;
  cursor: pointer;
}

.block_bal {
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.block_balli {
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block_balli_col {
  margin: 0 15px;
}

.block_balli_col_but {
  height: 25px;
  background-color: #2e8fbd;
  border-width: 1px;
  border-color: #1a2023;
  border-style: ridge;
  border-radius: 8px;
  text-align: center;
}

.block_balli_col_but div {
  padding-top: 3px;
}

.block_balli_col_but:hover {
  background-color: #399fcc;
  cursor: pointer;
}

.block_balli_col_blok {
  background-color: #45acdc;
}

.block_balli_col_text {
  padding: 6px;
  width: 60px;
  text-align: center;
}

.block_balli_col_text_osn {
  background-color: #8e86f2;
}

@media (max-width: 768px) {
  .ramka {
    font-size: 20px;
  }
  .ramka1 {
    /*поле вывода оценки результата */
    width: 100%;
  }
  .ramka3 {
    /*меж строчки*/
    height: 10px;
  }
  .ramka2 {
    /*кнопки */
    background: #a9e89a;
    width: 100%;
    height: 35px;
  }
  .ramka4 {
    /*меж строчки */
    height: 5px;
  }
  .ramka5 {
    /*основные поля добавка для 2 страницы */
    padding: 5px 0 8px 5%;
  }
  .cont_button {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    grid-column-gap: 10px;
  }
  .header_burder {
    display: block;
  }
  .header_menu_web {
    display: none;
  }
  #VoprText {
    background: #8e86f2;
  }
  /*блок вопроса*/
  .ramka_hedar_v {
    padding: 0;
    height: 47px;
  }
  .blok_vkladok {
    min-height: 54px;
  }
  .headerH {
    padding-top: 5px;
  }
  .headerH h1 {
    font-size: 19px;
  }
  .vkladi_vidupr {
    font-size: 2vw;
  }
}

@media (max-width: 560px) {
  .vkladi_vidupr {
    font-size: 2.5vw;
  }
}

@media (max-width: 360px) {
  .headerH h1 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */