@charset "UTF-8";
@font-face {
  font-family: 'Play';
  src: url("../../fonts/play/play-regular.ttf");
}

html {
  font-family: 'Play';
  font-size: var(--app-font-size);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 4px;
  text-align: center;
}

.wrap {
  height: 100vh;
  max-width: 500px;
  margin: 0 auto auto auto;
  /*background-image: url(../../surs/29227_html_4c0fe915.jpg);
    background-repeat:no-repeat;
    background-size:cover ;*/
  background-color: #afdff4d4;
  overflow: hidden;
}

.header {
  position: relative;
  height: 100%;
}

.header_save {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.header_save.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_save_hov {
  position: absolute;
  width: 27px;
  height: 30px;
  left: 24px;
  top: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_save img {
  width: 43%;
}

.header_save:hover {
  cursor: pointer;
}

.header_save:hover .header_save_hov {
  background-color: rgba(57, 100, 240, 0.699);
}

.blok {
  /*display: flex;*/
  width: 100%;
  height: 90%;
}

.window {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.window_results {
  position: relative;
  width: 100%;
}

.window_results_blok {
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 10;
  position: absolute;
  -webkit-transform: translateX(100%) scaleY(0);
          transform: translateX(100%) scaleY(0);
  width: 100%;
  height: 90vh;
  background-color: #a2d5e9;
  -webkit-transition: all  0.5s ease-out  0s;
  transition: all  0.5s ease-out  0s;
}

.window_results_blok.active {
  -webkit-transform: translateX(0%) scaleY(100%);
          transform: translateX(0%) scaleY(100%);
}

.window_results_blok_element {
  max-height: 100%;
}

.window_results_blok_element_zap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px 0 3px 0;
  padding: 6px 10px 6px 10px;
  background-color: #afdff4;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  -webkit-transition: all  0.5s ease-out  0s;
  transition: all  0.5s ease-out  0s;
  text-align: center;
}

.window_results_blok_element_zap.delete {
  -webkit-animation: nev 1s linear 1 normal;
          animation: nev 1s linear 1 normal;
}

.window_results_blok_element_zap > div:nth-child(1) {
  -webkit-box-flex: 2.2;
      -ms-flex: 2.2;
          flex: 2.2;
}

.window_results_blok_element_zap > div:nth-child(2) {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.window_results_blok_element_zap > div:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.window_results_blok_element_zap > div:nth-child(4) {
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  -webkit-transition: all  0.5s ease-out  0s;
  transition: all  0.5s ease-out  0s;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.window_results_blok_element_zap > div:nth-child(4):hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #1724e2;
}

.window_results_blok_element_zap > div:nth-child(5) {
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  -webkit-transition: all  0.5s ease-out  0s;
  transition: all  0.5s ease-out  0s;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.window_results_blok_element_zap > div:nth-child(5):hover {
  cursor: pointer;
  -webkit-transform: scale(1.5) rotate(180deg);
          transform: scale(1.5) rotate(180deg);
  color: #1724e2;
}

.window_results_blok_element_detailed {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
  height: 0;
  -webkit-transition: all  0.1s ease-out  0s;
  transition: all  0.1s ease-out  0s;
}

.window_results_blok_element_detailed.active {
  height: 100%;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
}

.window_results_blok_element_detailed_blok {
  color: #585866;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px 0 3px 0;
  padding: 3px 10px 3px 10px;
}

.window_results_blok_element_detailed_blok > div:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.window_results_blok_element_detailed_blok > div:nth-child(2) {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.window_results_blok_element_detailed_blok > div:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.window_results_blok_element_detailed_blok > div:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@-webkit-keyframes nev {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
    margin: 3px 0 3px 0;
    padding: 6px 20px 6px 20px;
  }
  100% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
    height: 0;
    margin: 0px 0 0px 0;
    padding: 0px 20px 0px 20px;
  }
}

@keyframes nev {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
    margin: 3px 0 3px 0;
    padding: 6px 20px 6px 20px;
  }
  100% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
    height: 0;
    margin: 0px 0 0px 0;
    padding: 0px 20px 0px 20px;
  }
}

.hiden {
  display: none;
}

.ramka {
  /*основные поля */
  padding: 10px 0 10px 5%;
  width: 95%;
  background: #afdff4d4;
  color: #161515;
  display: block;
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.ramka select {
  height: 36px;
  width: 95%;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ramka_hedar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 7px 0 0 0;
  width: 100%;
}

.ramka_hedar_v {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 10px 0;
}

.navig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navig_str {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

.navig_str_0 {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform  0.5s ease 0s;
  transition: -webkit-transform  0.5s ease 0s;
  transition: transform  0.5s ease 0s;
  transition: transform  0.5s ease 0s, -webkit-transform  0.5s ease 0s;
}

.answer {
  min-height: 30px;
}

.ramka1 {
  /*поле вывода оценки результата */
  width: 100%;
  height: 20px;
  background: #afdff4;
  font: 15pt;
  color: #2c2c2c;
}

.ramka2 {
  /*кнопки */
  background: #a9e89a;
  width: 150px;
  height: 40px;
}

.ramka3 {
  /*меж строчки*/
  width: 100%;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.ramka4 {
  /*меж строчки*/
  width: 100%;
  height: 20px;
  background: #72c7ec;
}

.ramka5_title {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ramka5_title_help {
  background-color: #e3eef3;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px inset #262829;
  font-size: 15px;
}

.ramka5_title_help:hover {
  background-color: #879ba5;
}

.ramka5_title_help.vizible {
  display: none;
}

.button {
  border-radius: 10px;
  border: 3px inset #609cc6;
  margin: 0 16px;
  text-align: center;
  width: 80%;
  height: 80%;
  background: #69b3e8;
  padding: 5px;
}

.button:hover {
  cursor: pointer;
  background: #2e93c4;
}

#selected {
  height: 30px;
}

.header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 15px;
}

.headerH {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.burder {
  width: 100%;
}

.header_burder {
  display: none;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.header_burder span {
  position: absolute;
  background-color: #1d1c1c;
  width: 30px;
  height: 3px;
  left: 0;
  top: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_burder:before,
.header_burder:after {
  content: '';
  background-color: #1d1c1c;
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_burder:before {
  top: 7px;
}

.header_burder:after {
  top: 23px;
}

.header_burder.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header_burder.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 16px;
}

.header_burder.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 17px;
}

.header_menu_burger {
  position: relative;
}

.header_menu {
  position: absolute;
  z-index: 15;
  left: 6px;
  width: 229px;
  /* overflow: auto; */
  background-color: #53c6eaf5;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_menu.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.header_menu_web {
  padding-top: 10px;
}

.header_list_web {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_list_web li {
  list-style: none;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_link_web {
  color: #161414;
  margin: 0;
  font-size: 15px;
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.header_link_web_underline {
  height: 3px;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #1b1299;
}

.header_link_web:hover {
  cursor: pointer;
  color: #1b1299;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header_link_web:hover ~ .header_link_web_underline {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.header_list {
  padding: 0px 0px 0px 25px;
  display: block;
}

.header_list li {
  list-style: none;
  margin: 0px 0px 11px 0px;
}

.header_link {
  color: #161414;
  margin: 0;
  font-weight: lighter;
  font-size: 23px;
  text-decoration: none;
}

.header_link:hover {
  cursor: pointer;
  color: #e2eef3;
}

.blok_vkladok {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vkladi {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #5796b1;
  margin-left: 2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.vkladi_vidfp {
  margin: 3px;
  font-size: 18px;
}

.vkladi_vidupr {
  margin-bottom: 3px;
  font-size: 14px;
}

.vkladi:hover {
  cursor: pointer;
  background-color: #279acc;
}

.blok_vkladok_uprag {
  background-color: #72c7ecba;
}

.vkladi.acti {
  background-color: #72c7ec;
}

.vkladiPorog {
  background-color: #d11a2f;
}

.vkladi.vkladiPorog:hover {
  background-color: #eb6b7a;
}

.vkladi.acti.vkladiPorog {
  background-color: #f52626fb;
}

.blok_vkladok_rezult {
  height: 100%;
  background-color: #86ceee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blok_vkladok_rezult_schet {
  font-size: 15px;
  width: 80%;
  text-align: center;
}

.info_window_wrap {
  max-width: 500px;
  margin: 0 auto auto auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #58585aa1;
  z-index: 20;
}

.info_window {
  margin: 0 auto 0 auto;
  width: 80%;
  background-color: #bfc5c7;
  position: relative;
  z-index: 3000;
  top: 20%;
  border-width: 1px;
  border-color: #1a2023;
  border-style: ridge;
  border-radius: 4px;
}

.info_window_text {
  padding-top: 19px;
  text-align: center;
  color: #1f1c1d;
  padding-bottom: 47px;
}

#info_window_ok {
  position: absolute;
  width: 60px;
  height: 21px;
  bottom: 10px;
  right: 10px;
  background-color: #1690ca;
  text-align: center;
  padding-top: 3px;
  border-radius: 5px;
}

#info_window_ok:hover {
  max-width: 500px;
  margin: 0 auto auto auto;
  background-color: #257ca5;
  cursor: pointer;
}

.block_bal {
  height: 182px;
  padding-top: 7px;
}

.block_balli {
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block_histogram {
  height: 50px;
  width: 95%;
  margin: 10px auto 25px auto;
  background-color: #529be0;
  position: relative;
}

.block_histogram_blocks {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block_histogram_blocks_block {
  height: 100%;
}

.block_histogram_blocks_block:nth-child(1) {
  background-color: #3d92e2;
}

.block_histogram_blocks_block:nth-child(2) {
  background-color: #1969d8;
}

.block_histogram_blocks_block:nth-child(3) {
  background-color: #193cd8;
}

.block_histogram_blocks_block:nth-child(4) {
  background-color: #3319d8;
}

.block_histogram_blocks_block:nth-child(5) {
  background-color: #0e17bb;
}

.block_histogram_signature {
  width: 100%;
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.block_histogram_signature_block {
  position: absolute;
  font-size: 10px;
}

.block_histogram_markup {
  top: -1px;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.block_histogram_markup_blocks {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #5b5656;
  /* Параметры границы */
  margin-left: -1px;
}

.block_balli_col {
  margin: 0 15px;
}

.block_balli_col_titl {
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
}

.block_balli_col_but {
  height: 25px;
  background-color: #2e8fbd;
  border-width: 1px;
  border-color: #2589c6;
  border-style: ridge;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.block_balli_col_but div {
  padding-top: 3px;
}

.block_balli_col_but.but {
  border-radius: 0 0 8px 8px;
}

.block_balli_col_but:hover {
  background-color: #399fcc;
  cursor: pointer;
}

.block_balli_col_blok {
  background-color: #45acdc;
  position: relative;
  width: 89px;
  height: 93px;
  overflow: hidden;
}

.block_balli_col_text {
  z-index: 1;
  position: absolute;
  padding: 6px;
  width: 77px;
  text-align: center;
}

.block_balli_col_text_osn {
  z-index: 0;
  position: absolute;
  top: 32px;
  height: 31px;
  width: 89px;
  background-color: #558ef8;
}

.block_balli_col_text:nth-child(1) {
  top: -31px;
}

.block_balli_col_text:nth-child(2) {
  top: 0px;
}

.block_balli_col_text:nth-child(3) {
  top: 32px;
}

.block_balli_col_text:nth-child(4) {
  top: 63px;
}

.block_balli_col_text:nth-child(5) {
  top: 94px;
}

.slick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vkladi_vidupr {
  font-size: 15px;
}

@media (max-width: 768px) {
  .blok {
    height: 92%;
  }
  .ramka {
    font-size: 18px;
  }
  .ramka select {
    height: 25px;
    font-size: 15px;
  }
  .ramka1 {
    /*поле вывода оценки результата */
    width: 100%;
  }
  .ramka2 {
    /*кнопки */
    background: #a9e89a;
    width: 100%;
    height: 35px;
  }
  .ramka4 {
    /*меж строчки */
    height: 4px;
  }
  .ramka5 {
    /*основные поля добавка для 2 страницы */
    padding: 5px 0 8px 5%;
  }
  .block_bal {
    height: 166px;
    padding-top: 6px;
    padding-bottom: 20px;
  }
  .cont_button {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    grid-column-gap: 10px;
  }
  .header_burder {
    display: block;
  }
  .header_menu_web {
    display: none;
  }
  #VoprText {
    background: #8e86f2;
  }
  /*блок вопроса*/
  .ramka_hedar {
    height: 100%;
  }
  .ramka_hedar_v {
    padding: 0;
    height: 8%;
  }
  .blok_vkladok {
    min-height: 60px;
  }
  .headerH h1 {
    font-size: 25px;
  }
  .vkladi_vidupr {
    font-size: 2vw;
  }
}

@media (max-width: 560px) {
  .vkladi_vidupr {
    font-size: 2.5vw;
  }
  .window_results_blok_element {
    font-size: 3.2vw;
  }
}

@media (max-width: 360px) {
  .block_histogram {
    height: 30px;
  }
  .headerH h1 {
    font-size: 5vw;
  }
  .blok_vkladok {
    min-height: 70px;
  }
  .ramka select {
    margin-bottom: 0px;
  }
  .block_bal {
    padding-bottom: 12px;
  }
}
